.contacto{
  background-image: linear-gradient(to top, $orange-o, $orange-c);
  margin-top: -15rem;
  border-radius: 35px 35px 0 0;
  @include for-mobile{
    margin-top: -6rem;
    border-radius: 35px 35px 0 0;
  }
  article{
    .container-custom{
      padding-top: 15rem;
      background-image: linear-gradient(to top, $orange-o, $orange-c);
      @include for-mobile{
        padding-top: 7rem;
      }
      .title-block{
        background: none;
        padding-bottom: 0;
        @include for-desktop{
          padding-top: 100px;
        }
        h2{
          color: $blanco;
        }
      }
      h3{
        font-family: $go-bo;
        width: 45%;
        margin: 0;
        padding-left: 4rem;
        @include for-mobile{
          width: 100%;
          padding: 0 2rem;
          font-size: 20px;
        }
        @include for-tablet{
          width: 100%;
          padding-left: 2rem;
        }
      }
      form{
        padding:1rem 4rem;
        max-width: 815px;
        width: 100%;
        margin: 0;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        @include for-mobile{
          padding: 1rem 2rem;
        }
        @include for-tablet{
          padding: 1rem 2rem;
        }
        .form-item{
          margin: 10px 0;
          input, textarea{
            width: 100%;
            border-radius: 35px;
            padding: 1rem 2rem;
            border: 0;
            text-transform: uppercase;
            color: $negro;
            &.enviar{
              position: absolute;
              bottom: 2rem;
              right: 4rem;
              width: initial;
              background: none;
              color: $orange-c;
              @include for-mobile{
                right: 2rem;
              }
              @include for-tablet{
                right: 2rem;
              }
            }
          }
          ::-webkit-input-placeholder { color: $gris-3; }
          ::-moz-placeholder { /* Firefox 18- */ color: $gris-3; }
          ::-moz-placeholder { /* Firefox 19+ */ color: $gris-3; }
          ::-ms-input-placeholder { color: $gris-3; }
        }
      }
      .whatsapp-block{
        display: inline-block;
        vertical-align: top;
        width: 28%;
        @include for-mobile{
          width: 70%;
          margin: 0 auto;
          display: block;
        }
        @include for-tablet{
          width: 100%;
          display: block;
        }
        .title-block-w{
          h4{
            color: $blanco;
            line-height: 3rem;
            @include for-tablet{
              width: 40%;
            }
            span{
              display: block;
              text-align: right;
            }
            span:nth-child(1){
              font-family: $go-bo;
              font-size: 22px;
              @include for-mobile{
                font-size: 21px;
              }
            }
            span:nth-child(2){
              font-family: $arm;
              font-size: 5rem;
              @include for-mobile{
                font-size: 5rem;
              }
            }
            span:nth-child(3){
              font-family: $go-li;
              font-size: 29px;
              @include for-mobile{
                font-size: 23px;
              }
            }
          }
        }
        .btn-contacto-w{
          background: $degradado-verde;
          padding: 35px 25px;
          box-sizing: border-box;
          display: inline-block;
          border-radius: 35px;
          text-align: center;
          @include for-mobile{
            width: 100%;
            padding: 15px 10px;
          }
          @include for-tablet{
            display: block;
            width: 60%;
            padding: 10px 25px;
          }
          img{
            max-width: 40px;
            display: inline-block;
            vertical-align: middle;
            @include for-tablet{
              max-width: 60px;
            }
          }
          div{
            max-width: 280px;
            display: inline-block;
            vertical-align: middle;
            @include for-mobile{
              max-width: 180px;
            }
            span{
              color: $blanco;
              &:first-child{
                font-size: 16px;
                display: block;
                @include for-mobile{
                  font-size: 13px;
                }
                @include for-tablet{
                  font-size: 20px;
                }
              }
              &:last-child{
                font-size: 10px;
                display: block;
                @include for-mobile{
                  font-size: 9px;
                }
                @include for-tablet{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .oficinas-ventas{
        .part-left{
          display: inline-block;
          width: 35%;
          vertical-align: top;
          padding-left: 4rem;
          @include for-mobile{
            display: block;
            width: 100%;
            padding-left: 0;
            padding: 1rem 2rem;
            box-sizing: border-box;
          }
          @include for-tablet{
            display: block;
            width: 100%;
            padding-left: 0;
            padding: 1rem 2rem;
            box-sizing: border-box;
          }
          h5{
            font-family: $go-bo;
            font-size: 1.7rem;
            margin-bottom: 0;
          }
          strong{
            color: $blanco;
            font-family: $go-bo;
            font-size: 1.2rem;
            margin: 10px 0;
            display: block;
          }
          p{
            margin-bottom: 2rem;
          }
          .enlaces{
            .row-enlaces{
              p{
                margin-bottom: 10px;
                img{
                  max-width: 25px;
                }
                span{
                  padding-left: 1rem;
                  box-sizing: border-box;
                  color: $blanco;
                  @include for-mobile{
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        .part-right{
          display: inline-block;
          width: 63%;
          vertical-align: top;
          text-align: right;
          @include for-mobile{
            display: block;
            width: 100%;
            padding: 0 2rem;
          }
          @include for-tablet{
            display: block;
            width: 100%;
            padding: 0 2rem;
          }
          iframe{
            border-radius: 35px;
            box-shadow: $shadow-1;
            @include for-mobile{
              width: 100% !important;
              height: 250px;
            }
            @include for-tablet{
              width: 100% !important;
            }
          }
        }
      }
      .pie-pagina{
        padding: 20px 0;
        box-sizing: border-box;
        @include for-mobile{
          padding: 20px 2rem;
        }
        .part-left{
          display: inline-block;
          vertical-align: bottom;
          width: 49%;
          @include for-mobile{
            display: block;
            width: 100%;
            text-align: center;
          }
          @include for-tablet{
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
          }
          img{
            max-width: 100px;
            margin-left: 4rem;
            @include for-mobile{
              margin-left: 0;
              max-width: 150px;
            }
            @include for-tablet{
              margin-left: 0;
              max-width: 170px;
            }
          }
        }
        .part-right{
          display: inline-block;
          vertical-align: bottom;
          width: 49%;
          @include for-mobile{
            display: block;
            width: 100%;
          }
          @include for-tablet{
            display: block;
            width: 100%;
          }
          p{
            margin: 0;
            font-size: 14px;
            text-align: right;
            @include for-mobile{
              text-align: center;
            }
            @include for-tablet{
              text-align: center;
            }
          }
        }
      }
    }
  }
}
