*{
  margin: 0 auto;
  padding: 0;
}
html{
  font-size: 16px;
  font-family: $go-li;
}
body{
  font-size: 16px;
  font-family: $go-li;
  background-image: url(../images/fondo-casa-los-naranjos.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include for-mobile{
    background-size: cover;
    background-position: 60% 0%;
  }
  @include for-tablet{
    background-size: cover;
    background-position: 60% 0%;
  }
  &:before{
    content: "";
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
}
.container-custom{
  max-width: 1140px;
  width: 100%;
  display: block;
  position: relative;
  @include for-tablet{
    max-width: 710px;
  }
}
.title-block{
  border-radius: 15px 15px 0 0;
  background: $blanco;
  padding: 2rem 4rem;
  box-sizing: border-box;
  @include for-mobile{
    padding: 1rem 2rem;
  }
  @include for-tablet{
    padding: 2rem 2rem;
  }
  h2{
    color: $orange-c;
    text-transform: uppercase;
    font-family: $go-bo;
    font-size: 3rem;
    @include for-mobile{
      font-size: 2rem;
    }
    @include for-tablet{
      font-size: 2.5rem;
    }
  }
}
.title-block-secondary{
  @include for-mobile{
    padding: 0;
  }
  h4{
    font-family: $go-bo;
    font-size: 2rem;
    @include for-mobile{
      font-size: 25px;
    }
    @include for-tablet{
      font-size: 25px;
    }
  }
}
/* flotante whatsapp */
.flotante-whatsapp{
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  @include for-mobile{
    top: auto;
    bottom: 20px;
  }
  @include for-tablet{
    top: auto;
    bottom: 20px;
  }
  a{
    background: $degradado-verde;
    display: inline-block;
    border-radius: 50%;
    padding: .7rem;
    img{
      max-width: 40px;
    }
  }
}
/*anclas*/
#proyecto{
  @include for-tablet{
    padding-top: 80px;
  }
}
#la-casa{
  @include for-mobile{
    padding-top: 60px;
  }
  @include for-tablet{
    padding-top: 110px;
  }
}
#comprar{
  @include for-mobile{
    padding-top: 60px;
  }
  @include for-tablet{
    padding-top: 110px;
  }
}
#plaza-comercial{
  @include for-mobile{
    padding-top: 60px;
  }
  @include for-tablet{
    padding-top: 110px;
  }
}
#ubicacion{
  @include for-mobile{
    padding-top: 60px;
  }
  @include for-tablet{
    padding-top: 110px;
  }
}
#contacto{
  @include for-mobile{
    padding-top: 60px;
  }
  @include for-tablet{
    padding-top: 110px;
  }
}
