header{
  padding: 0;
  min-height: 650px;
  @include for-mobile{
    min-height: 100vh;
    position: relative;
    background-position: 35% 0%;
  }
  @include for-tablet{
    border-radius: 0 0 35px 35px;
    min-height: 800px;
    background-position: 50% 65%;
  }
  @include for-desktop{
    margin-top: 100px;
  }
  .container-custom{
    text-align: center;
    padding: 10rem 0;
    @include for-mobile{
      height: 95vh;
    }
    @include for-tablet{
      padding: 8rem 0;
    }
    @include for-desktop{
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
    }
    .logo-big{
      img{
        max-width: 450px;
        @include for-mobile{
          max-width: 320px;
          margin: 2rem 0;
        }
      }
    }
    .copy{
      color: $blanco;
      width: 70%;
      margin: 2rem auto 0 auto;
      @include for-mobile{
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 2rem;
        box-sizing: border-box;
        &:before{
          content: "";
          background-image: url(../images/arrow-down.svg);
          width: 25px;
          height: 20px;
          position: absolute;
          bottom: -20px;
          left: 150px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
