nav{
  background-image: linear-gradient(to right, $orange-o, $orange-c);
  position: relative;
  @include for-mobile{
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90;
  }
  @include for-tablet{
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90;
  }
  @include for-desktop{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
  }
  .container-custom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    .logo{
      display: inline-block;
      vertical-align: middle;
      a{
        img{
          @include for-mobile{
            max-width: 170px;
          }
        }
      }
    }
    .hamburguer-icon{
      display: none;
      @include for-mobile{
        display: block;
        .icon{
          position: relative;
          &.animate-icon{
            img:first-child{
              transform: rotate(45deg);
              opacity: 0;
              z-index: 1;
            }
            img:last-child{
              transform: rotate(0deg);
              opacity: 1;
              z-index: 2;
            }
          }
          img{
            cursor: pointer;
            &:first-child{
              z-index: 2;
              transition: .5s;
            }
            &:last-child{
              position: absolute;
              right: 5px;
              top: 0;
              opacity: 0;
              z-index: 1;
              transform: rotate(-45deg);
              transition: .5s;
            }
          }
        }
      }
      @include for-tablet{
        display: block;
        .icon{
          position: relative;
          &.animate-icon{
            img:first-child{
              transform: rotate(45deg);
              opacity: 0;
              z-index: 1;
            }
            img:last-child{
              transform: rotate(0deg);
              opacity: 1;
              z-index: 2;
            }
          }
          img{
            cursor: pointer;
            &:first-child{
              z-index: 2;
              transition: .5s;
            }
            &:last-child{
              position: absolute;
              right: 5px;
              top: 0;
              opacity: 0;
              z-index: 1;
              transform: rotate(-45deg);
              transition: .5s;
            }
          }
        }
      }
    }
    .menu{
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      @include for-mobile{
        background: rgba(0, 0, 0, .9);
        position: fixed;
        top: 65px;
        left: 0;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        height: 0;
        overflow: hidden;
        transition: .5s;
        &.open{
          height: 100vh;
          padding: 1rem 3rem;
        }
      }
      @include for-tablet{
        background: rgba(0, 0, 0, .9);
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        height: 0;
        overflow: hidden;
        transition: .5s;
        &.open{
          height: 100vh;
          padding: 1rem 3rem;
        }
      }
      li{
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        @include for-mobile{
          display: block;
          margin: 15px 0;
          width: 100%;
        }
        @include for-tablet{
          display: block;
          margin: 15px 0;
          width: 100%;
        }
        a{
          color: #fff;
          text-decoration: none;
          font-family: $go-li;
          @include for-mobile{
            font-size: 25px;
          }
          @include for-tablet{
            font-size: 25px;
          }
        }
      }
    }
  }
}
