.porque-comprar{
  article{
    .container-custom{
      .title-block{
        border-radius: 0;
        @include for-desktop{
          padding-top: 100px;
        }
      }
      .section-comprar{
        position: relative;
        background: $blanco;
        padding: 0 2rem;
        .bg-section{
          display: block;
          position: relative;
          width: 100%;
          border-radius: 28px 28px 0 0;
          @include for-mobile{
            padding: 0;
            box-sizing: border-box;
          }
        }
        .subtitle{
          position: absolute;
          top: 0;
          left: 0;
          padding: 20px 66px;
          box-sizing: border-box;
          @include for-mobile{
            padding: 15px 66px;
          }
          h3{
            color: $blanco;
            font-family: $go-bo;
            width: 40%;
            margin: 0;
            @include for-mobile{
              width: 100%;
              font-size: 18px;
            }
            @include for-tablet{
              width: 100%;
            }
          }
          hr{
            border-color: $verde-c;
            width: 80%;
            margin: 1rem 0;
            @include for-mobile{
              border-top: 3px solid #C1EF00;
              width: 100%;
            }
            @include for-tablet{
              border-top: 3px solid #C1EF00;
              width: 100%;
            }
          }
          p{
            color: $blanco;
            width: 40%;
            margin: 0;
            @include for-mobile{
              width: 100%;
            }
            @include for-tablet{
              width: 100%;
            }
          }
        }
        .caracteristicas{
          background-image: linear-gradient(to top, $orange-o, $orange-c);
          position: relative;
          bottom: 18px;
          left: 0;
          right: 0;
          width: 100%;
          border-radius: 0 0 28px 28px;
          padding: 30px 65px;
          box-sizing: border-box;
          @include for-mobile{
            width: 100%;
            position: relative;
            padding: 30px 0px;
            bottom: 0;
          }
          @include for-tablet{
            width: 100%;
            position: relative;
            padding: 30px 0px;
            bottom: 40px;
          }
          div{
            display: inline-block;
            vertical-align: top;
            width: 49%;
            &.parte-izq{
              @include for-mobile{
                display: block;
                width: 100%;
              }
              p{
                text-align: right;
                @include for-mobile{
                  text-align: left;
                }
              }
            }
            &.parte-der{
              border-left: 1px solid $verde-c;
              @include for-mobile{
                display: block;
                width: 100%;
                border-left: 0;
              }
              p{
                text-align: left;
              }
            }
            p{
              color: $blanco;
              padding: 0 15px;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
