.requisitos{
  article{
    .container-custom{
      background: $blanco;
      padding: 0 2rem;
      box-sizing: border-box;
      .row-requisitos{
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include for-mobile{
          display: block;
        }
        .item-requisito{
          display: inline-block;
          width: 49%;
          height: 315px;
          vertical-align: top;
          overflow: hidden;
          border-radius: 58px;
          position: relative;
          @include for-mobile{
            display: block;
            width: 100%;
            max-width: 288px;
            height: 250px;
            margin: 20px auto;
            border-radius: 25px;
            &:last-child{
              margin-bottom: 0;
            }
          }
          &:hover{
            img{
              transform: scale(1.1);
            }
          }
          img{
            display: block;
            width: 120%;
            position: relative;
            transition: .3s linear;
            @include for-mobile{
              width: 155%;
            }
            @include for-tablet{
              width: 170%;
            }
          }
          h5{
            position: absolute;
            top: 2rem;
            left: 3rem;
            border-bottom: 1px solid $verde-c;
            color: $blanco;
            display: block;
            width: 80%;
            font-family: $go-bo;
            padding: 10px 0;
            @include for-mobile{
              top: 1rem;
              left: 2rem;
            }
          }
          ul{
            position: absolute;
            bottom: 2rem;
            left: 4rem;
            @include for-mobile{
              bottom: 0;
              left: 2rem;
            }
            li{
              color: $blanco;
            }
          }
        }
      }
    }
  }
}
.proceso{
  article{
    .container-custom{
      background: $blanco;
      padding: 1rem 2rem 0 2rem;
      box-sizing: border-box;
      .title-block-secondary{
        margin: 2rem 0;
      }
      .row-pasos{
        display: flex;
        justify-content: center;
        align-items: center;
        @include for-mobile{
          display: block;
        }
        @include for-tablet{
          justify-content: space-around;
        }
        .paso{
          background: $gris-2;
          box-shadow: $shadow-1;
          border-radius: 32px;
          padding: 2rem;
          box-sizing: border-box;
          position: relative;
          margin: 2rem 0;
          min-width: 320px;
          @include for-mobile{
            width: 100%;
            max-width: 288px;
            margin: 50px auto;
            min-width: 288px;
          }
          @include for-tablet{
            width: 320px;
            min-height: 150px;
            margin: 2rem .5rem;
          }
          @include for-desktop{
            min-width: 380px;
            margin: 1rem 10px;
            max-width: 380px;
            min-height: 112px;
          }
          .number{
            background-image: linear-gradient(to top, $orange-o, $orange-c);
            color: $blanco;
            border-radius: 50%;
            padding: 4px 10px;
            position: absolute;
            top: -15px;
            left: 0;
            right: 0;
            width: 30px;
            height: 30px;
          }
          p{
            text-align: center;
            margin-bottom: 0;
          }
        }
      }
      .note-copy{
        text-align: center;
        @include for-mobile{
          max-width: 380px;
          margin: 0 auto 20px auto;
          text-align: left;
          padding: 0 2rem;
          box-sizing: border-box;
        }
      }
      .subtitle-intern{
        display: block;
        text-align: center;
        font-family: $go-bo;
        margin: 2rem 0 0 0;
        h4{
          display: block;
          margin-bottom: 0;
          padding-bottom: 2rem;
        }
        span{
          font-family: $arm;
          color: $orange-c;
        }
      }
    }
    .container-constructoras{
      box-sizing: border-box;
      .container-custom{
        background: $gris-2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;
        @include for-mobile{
          display: block;
        }
        @include for-tablet{
          display: block;
          text-align: center;
        }
        img{
          max-width: 200px;
          width: 100%;
          display: inline-block;
          @include for-mobile{
            display: block;
          }
          @include for-tablet{
            max-width: 35%;
            width: 35%;
            margin: 1rem 2rem;
          }
        }
      }
    }
  }
}
