.block-la-casa{
  article{
    .container-custom{
      .title-block-casa{
        border-radius: 15px 15px 0 0;
        background: $blanco;
        padding: 2rem 4rem;
        box-sizing: border-box;
        h1{
          color: $orange-c;
          text-transform: uppercase;
          font-family: $go-bo;
          font-size: 3rem;
        }
      }
      .title-block{
        border-radius: 0;
        background: $blanco;
        @include for-desktop{
          padding-top: 100px;
        }
      }
      #tabs-casa{
        align-items: flex-end;
        border: 0;
        background: $blanco;
        .nav-item{
          .nav-link{
            font-family: $go-bo;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
            width: 250px;
            color: $gris-1;
            line-height: 1.2rem;
            border: 0;
            transition: .3s linear;
            @include for-tablet{
              width: 200px;
            }
            &:hover{
              color: $negro;
            }
            &.active{
              color: $negro;
              background: $blanco;
            }
            .status-tab{
              display: block;
              padding: 5px 0;
              box-sizing: border-box;
              color: $orange-c;
              font-family: $go-bo;
              text-transform: uppercase;
              border-top: 1px solid $verde-c;
              margin-top: 10px;
            }
          }
        }
      }
      .web-items-casa{
        @include for-mobile{
          display: none;
        }
      }
      .tabs-casa-mobile{
        display: none;
        .accordion{
          .card{
            display: block;
            .card-header{
              width: 100%;
              text-align: center;
              button{
                &.collapsed{
                  p{
                    color: #C7C7C7;
                  }
                }
                p{
                  font-family: "gotham-bold";
                  text-align: center;
                  padding: 20px;
                  box-sizing: border-box;
                  width: 250px;
                  color: $negro;
                  line-height: 1.2rem;
                  border: 0;
                  transition: .3s linear;
                }
                span{
                  padding: 5px 0;
                  box-sizing: border-box;
                  color: #F7931E;
                  font-family: "gotham-bold";
                  text-transform: uppercase;
                  border-top: 1px solid #C1EF00;
                  margin-top: 10px;
                }
              }
            }
            .card-body{
              .card{
                display: block;
              }
            }
          }
        }
        @include for-mobile{
          display: block;
        }
      }
      .tab-content{
        background: $blanco;
        padding: 50px 35px;
        box-sizing: border-box;
        box-shadow: 0px 8px 5px transparentize($negro, .84);
        .tab-pane{
          background: $gris-2;
          border-radius: 38px;
          box-shadow: $shadow-1;
          padding: 30px 15px;
          box-sizing: border-box;
          .card{
            background: none;
            border: 0;
            display: block;
            .container-card{
              .owl-carousel{
                .item{
                  img{
                    border-radius: 35px;
                  }
                }
              }
            }
            .card-title{
              font-size: 25px;
            }
            .list-casas{
              display: inline-block;
              vertical-align: top;
              width: 49%;
              li{
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}
