.slider-proyecto{
  margin-top: -6rem;
  @include for-mobile{
    margin-top: 0;
    padding-top: 60px;
  }
  @include for-tablet{
    margin-top: -12rem;
  }
  @include for-desktop{
    padding-top: 100px;
  }
  article{
    .container-custom{
      .title-proyect{
        border-radius: 35px 35px 0 0;
        background: $blanco;
        padding: 2rem 4rem;
        box-sizing: border-box;
        @include for-mobile{
          padding: 1rem 2rem;
        }
        @include for-tablet{
          border-radius: 64px 64px 0 0;
        }
        h1{
          color: $orange-c;
          text-transform: uppercase;
          font-family: $go-bo;
          font-size: 3rem;
          @include for-mobile{
            font-size: 2rem;
          }
          @include for-tablet{
            font-size: 40px;
          }
        }
      }
      .owl-carousel{
        .owl-nav{
          position: absolute;
          top: 50%;
          height: 0;
          width: 100%;
          margin-top: -35px;
          .owl-prev{
            float: left;
            margin-left: 2rem;
            span{
              font-size: 3rem;
              color: $blanco;
            }
          }
          .owl-next{
            float: right;
            margin-right: 2rem;
            span{
              font-size: 3rem;
              color: $blanco;
            }
          }
        }
      }
      .block-items-proyect{
        padding: 2rem;
        background: $blanco;
        @include for-mobile{
          padding: 1rem;
        }
        h3{
          font-size: 1.5rem;
          display: block;
          width: 32%;
          margin: 0;
          text-align: left;
          font-family: $go-bo;
          @include for-mobile{
            width: 100%;
          }
          @include for-tablet{
            font-size: 25px;
            width: 100%;
          }
        }
        .row-proyecto{
          display: flex;
          justify-content: space-around;
          align-items: flex-start;
          margin: 20px 0;
          @include for-mobile{
            display: block;
            &:nth-child(2){
              .item-proyecto:last-child{
                width: 100%;
                max-width: 100%;
              }
            }
          }
          .item-proyecto{
            max-width: 180px;
            width: 100%;
            @include for-mobile{
              display: inline-block;
              width: 49%;
              vertical-align: middle;
              margin: 10px 0;
              max-width: 49%;
            }
            img{
              max-width: 50px;
              width: 100%;
              display: block;
              margin-bottom: 10px;
              @include for-mobile{
                max-width: 80px;
              }
            }
            p{
              text-align: center;
            }
          }
        }
      }
    }
  }
}
