.ubicacion{
  position: relative;
  z-index: 2;
  article{
    .container-custom{
      background: $blanco;
      padding: 0 2rem 3rem 0;
      box-sizing: border-box;
      box-shadow: $shadow-1;
      border-radius: 0 0 35px 35px;
      @include for-mobile{
        padding: 0 0 50px 0;
        box-shadow: none;
      }
      @include for-tablet{
        padding: 0 0 50px 0;
      }
      .title-block{
        @include for-mobile{
          border-radius: 0;
        }
        @include for-desktop{
          padding-top: 100px;
        }
        &:first-child{
          h2{
            border-bottom: 1px solid $verde-c;
            padding-bottom: 2rem;
          }
        }
      }
      .title-block-secondary{
        h4, p{
          text-transform: uppercase;
          text-align: center;
          display: block;
          @include for-mobile{
            text-align: left;
          }
        }
        h4{
          padding: 2rem 5rem;
          box-sizing: border-box;
          @include for-mobile{
            padding: 0 2rem;
          }
        }
        p{
          @include for-mobile{
            padding: 0 2rem;
          }
        }
        &:nth-child(5){
          h4{
            text-align: left;
            text-transform: capitalize;
            @include for-mobile{
              text-align: center;
              margin: 15px 0;
            }
            @include for-tablet{
              text-align: center;
              margin: 15px 0;
            }
          }
        }
      }
      img{
        display: block;
        width: 100%;
        padding: 0 4rem;
        @include for-mobile{
          max-width: 100%;
          padding: 0;
        }
      }
      .map-proyecto{
        width: 85%;
        height: 400px;
        border-radius: 58px;
        box-shadow: $shadow-1;
        display: block;
        @include for-mobile{
          width: 90%;
          height: 250px;
          margin: 0 auto;
          display: block;
        }
        @include for-tablet{
          width: 95%;
          height: 350px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
