/* importación de fuentes */
@font-face{
  font-family: 'gotham-light';
  src: url(../fonts/Gotham-Light.otf);
}
@font-face{
  font-family: 'gotham-bold';
  src: url(../fonts/Gotham-Bold.otf);
}
@font-face{
  font-family: 'armonioso-trial';
  src: url(../fonts/Armonioso-trial.otf);
}

/* variables */

/* fuentes */
$go-li: 'gotham-light';
$go-bo: 'gotham-bold';
$arm: 'armonioso-trial';

/* colores */
$orange-c: #F7931E;
$orange-o: #F15A24;
$blanco: #ffffff;
$verde-c: #C1EF00;
$verde-2: #D9E021;
$verde-3: #A7CC23;
$gris-1: #C7C7C7;
$negro: #000000;
$gris-2: #F3F3F3;
$gris-3: #9A9898;
$degradado-verde: linear-gradient(to right, $verde-2, $verde-3);

/* sombras */
$shadow-1: 0px 8px 5px transparentize($negro, .84);

/* media queries */
$mobile: 320px;
$tablet: 768px;
$tablet-l: 1024px;
$desktop: 1280px;
