@charset "UTF-8";
/* importación de fuentes */
@font-face {
  font-family: 'gotham-light';
  src: url(../fonts/Gotham-Light.otf); }

@font-face {
  font-family: 'gotham-bold';
  src: url(../fonts/Gotham-Bold.otf); }

@font-face {
  font-family: 'armonioso-trial';
  src: url(../fonts/Armonioso-trial.otf); }

/* variables */
/* fuentes */
/* colores */
/* sombras */
/* media queries */
* {
  margin: 0 auto;
  padding: 0; }

html {
  font-size: 16px;
  font-family: "gotham-light"; }

body {
  font-size: 16px;
  font-family: "gotham-light";
  background-image: url(../images/fondo-casa-los-naranjos.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    background-size: cover;
    background-position: 60% 0%; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  body {
    background-size: cover;
    background-position: 60% 0%; } }

body:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; }

.container-custom {
  max-width: 1140px;
  width: 100%;
  display: block;
  position: relative; }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .container-custom {
    max-width: 710px; } }

.title-block {
  border-radius: 15px 15px 0 0;
  background: #ffffff;
  padding: 2rem 4rem;
  box-sizing: border-box; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .title-block {
    padding: 1rem 2rem; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .title-block {
    padding: 2rem 2rem; } }

.title-block h2 {
  color: #F7931E;
  text-transform: uppercase;
  font-family: "gotham-bold";
  font-size: 3rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .title-block h2 {
    font-size: 2rem; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .title-block h2 {
    font-size: 2.5rem; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .title-block-secondary {
    padding: 0; } }

.title-block-secondary h4 {
  font-family: "gotham-bold";
  font-size: 2rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .title-block-secondary h4 {
    font-size: 25px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .title-block-secondary h4 {
    font-size: 25px; } }

/* flotante whatsapp */
.flotante-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .flotante-whatsapp {
    top: auto;
    bottom: 20px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .flotante-whatsapp {
    top: auto;
    bottom: 20px; } }

.flotante-whatsapp a {
  background: linear-gradient(to right, #D9E021, #A7CC23);
  display: inline-block;
  border-radius: 50%;
  padding: .7rem; }

.flotante-whatsapp a img {
  max-width: 40px; }

/*anclas*/
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #proyecto {
    padding-top: 80px; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #la-casa {
    padding-top: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #la-casa {
    padding-top: 110px; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #comprar {
    padding-top: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #comprar {
    padding-top: 110px; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #plaza-comercial {
    padding-top: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #plaza-comercial {
    padding-top: 110px; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #ubicacion {
    padding-top: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #ubicacion {
    padding-top: 110px; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #contacto {
    padding-top: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #contacto {
    padding-top: 110px; } }

nav {
  background-image: linear-gradient(to right, #F15A24, #F7931E);
  position: relative; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  nav {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  nav {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90; } }

@media only screen and (min-width: 1280px) {
  nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0; } }

nav .container-custom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0; }

nav .container-custom .logo {
  display: inline-block;
  vertical-align: middle; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  nav .container-custom .logo a img {
    max-width: 170px; } }

nav .container-custom .hamburguer-icon {
  display: none; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  nav .container-custom .hamburguer-icon {
    display: block; }
  nav .container-custom .hamburguer-icon .icon {
    position: relative; }
  nav .container-custom .hamburguer-icon .icon.animate-icon img:first-child {
    transform: rotate(45deg);
    opacity: 0;
    z-index: 1; }
  nav .container-custom .hamburguer-icon .icon.animate-icon img:last-child {
    transform: rotate(0deg);
    opacity: 1;
    z-index: 2; }
  nav .container-custom .hamburguer-icon .icon img {
    cursor: pointer; }
  nav .container-custom .hamburguer-icon .icon img:first-child {
    z-index: 2;
    transition: .5s; }
  nav .container-custom .hamburguer-icon .icon img:last-child {
    position: absolute;
    right: 5px;
    top: 0;
    opacity: 0;
    z-index: 1;
    transform: rotate(-45deg);
    transition: .5s; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  nav .container-custom .hamburguer-icon {
    display: block; }
  nav .container-custom .hamburguer-icon .icon {
    position: relative; }
  nav .container-custom .hamburguer-icon .icon.animate-icon img:first-child {
    transform: rotate(45deg);
    opacity: 0;
    z-index: 1; }
  nav .container-custom .hamburguer-icon .icon.animate-icon img:last-child {
    transform: rotate(0deg);
    opacity: 1;
    z-index: 2; }
  nav .container-custom .hamburguer-icon .icon img {
    cursor: pointer; }
  nav .container-custom .hamburguer-icon .icon img:first-child {
    z-index: 2;
    transition: .5s; }
  nav .container-custom .hamburguer-icon .icon img:last-child {
    position: absolute;
    right: 5px;
    top: 0;
    opacity: 0;
    z-index: 1;
    transform: rotate(-45deg);
    transition: .5s; } }

nav .container-custom .menu {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  nav .container-custom .menu {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    transition: .5s; }
  nav .container-custom .menu.open {
    height: 100vh;
    padding: 1rem 3rem; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  nav .container-custom .menu {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    transition: .5s; }
  nav .container-custom .menu.open {
    height: 100vh;
    padding: 1rem 3rem; } }

nav .container-custom .menu li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  nav .container-custom .menu li {
    display: block;
    margin: 15px 0;
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  nav .container-custom .menu li {
    display: block;
    margin: 15px 0;
    width: 100%; } }

nav .container-custom .menu li a {
  color: #fff;
  text-decoration: none;
  font-family: "gotham-light"; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  nav .container-custom .menu li a {
    font-size: 25px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  nav .container-custom .menu li a {
    font-size: 25px; } }

header {
  padding: 0;
  min-height: 650px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  header {
    min-height: 100vh;
    position: relative;
    background-position: 35% 0%; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  header {
    border-radius: 0 0 35px 35px;
    min-height: 800px;
    background-position: 50% 65%; } }

@media only screen and (min-width: 1280px) {
  header {
    margin-top: 100px; } }

header .container-custom {
  text-align: center;
  padding: 10rem 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  header .container-custom {
    height: 95vh; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  header .container-custom {
    padding: 8rem 0; } }

@media only screen and (min-width: 1280px) {
  header .container-custom {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0; } }

header .container-custom .logo-big img {
  max-width: 450px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  header .container-custom .logo-big img {
    max-width: 320px;
    margin: 2rem 0; } }

header .container-custom .copy {
  color: #ffffff;
  width: 70%;
  margin: 2rem auto 0 auto; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  header .container-custom .copy {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box; }
  header .container-custom .copy:before {
    content: "";
    background-image: url(../images/arrow-down.svg);
    width: 25px;
    height: 20px;
    position: absolute;
    bottom: -20px;
    left: 150px;
    background-repeat: no-repeat; } }

.slider-proyecto {
  margin-top: -6rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .slider-proyecto {
    margin-top: 0;
    padding-top: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .slider-proyecto {
    margin-top: -12rem; } }

@media only screen and (min-width: 1280px) {
  .slider-proyecto {
    padding-top: 100px; } }

.slider-proyecto article .container-custom .title-proyect {
  border-radius: 35px 35px 0 0;
  background: #ffffff;
  padding: 2rem 4rem;
  box-sizing: border-box; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .slider-proyecto article .container-custom .title-proyect {
    padding: 1rem 2rem; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .slider-proyecto article .container-custom .title-proyect {
    border-radius: 64px 64px 0 0; } }

.slider-proyecto article .container-custom .title-proyect h1 {
  color: #F7931E;
  text-transform: uppercase;
  font-family: "gotham-bold";
  font-size: 3rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .slider-proyecto article .container-custom .title-proyect h1 {
    font-size: 2rem; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .slider-proyecto article .container-custom .title-proyect h1 {
    font-size: 40px; } }

.slider-proyecto article .container-custom .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  height: 0;
  width: 100%;
  margin-top: -35px; }

.slider-proyecto article .container-custom .owl-carousel .owl-nav .owl-prev {
  float: left;
  margin-left: 2rem; }

.slider-proyecto article .container-custom .owl-carousel .owl-nav .owl-prev span {
  font-size: 3rem;
  color: #ffffff; }

.slider-proyecto article .container-custom .owl-carousel .owl-nav .owl-next {
  float: right;
  margin-right: 2rem; }

.slider-proyecto article .container-custom .owl-carousel .owl-nav .owl-next span {
  font-size: 3rem;
  color: #ffffff; }

.slider-proyecto article .container-custom .block-items-proyect {
  padding: 2rem;
  background: #ffffff; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .slider-proyecto article .container-custom .block-items-proyect {
    padding: 1rem; } }

.slider-proyecto article .container-custom .block-items-proyect h3 {
  font-size: 1.5rem;
  display: block;
  width: 32%;
  margin: 0;
  text-align: left;
  font-family: "gotham-bold"; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .slider-proyecto article .container-custom .block-items-proyect h3 {
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .slider-proyecto article .container-custom .block-items-proyect h3 {
    font-size: 25px;
    width: 100%; } }

.slider-proyecto article .container-custom .block-items-proyect .row-proyecto {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .slider-proyecto article .container-custom .block-items-proyect .row-proyecto {
    display: block; }
  .slider-proyecto article .container-custom .block-items-proyect .row-proyecto:nth-child(2) .item-proyecto:last-child {
    width: 100%;
    max-width: 100%; } }

.slider-proyecto article .container-custom .block-items-proyect .row-proyecto .item-proyecto {
  max-width: 180px;
  width: 100%; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .slider-proyecto article .container-custom .block-items-proyect .row-proyecto .item-proyecto {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    margin: 10px 0;
    max-width: 49%; } }

.slider-proyecto article .container-custom .block-items-proyect .row-proyecto .item-proyecto img {
  max-width: 50px;
  width: 100%;
  display: block;
  margin-bottom: 10px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .slider-proyecto article .container-custom .block-items-proyect .row-proyecto .item-proyecto img {
    max-width: 80px; } }

.slider-proyecto article .container-custom .block-items-proyect .row-proyecto .item-proyecto p {
  text-align: center; }

.block-la-casa article .container-custom .title-block-casa {
  border-radius: 15px 15px 0 0;
  background: #ffffff;
  padding: 2rem 4rem;
  box-sizing: border-box; }

.block-la-casa article .container-custom .title-block-casa h1 {
  color: #F7931E;
  text-transform: uppercase;
  font-family: "gotham-bold";
  font-size: 3rem; }

.block-la-casa article .container-custom .title-block {
  border-radius: 0;
  background: #ffffff; }

@media only screen and (min-width: 1280px) {
  .block-la-casa article .container-custom .title-block {
    padding-top: 100px; } }

.block-la-casa article .container-custom #tabs-casa {
  align-items: flex-end;
  border: 0;
  background: #ffffff; }

.block-la-casa article .container-custom #tabs-casa .nav-item .nav-link {
  font-family: "gotham-bold";
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 250px;
  color: #C7C7C7;
  line-height: 1.2rem;
  border: 0;
  transition: .3s linear; }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .block-la-casa article .container-custom #tabs-casa .nav-item .nav-link {
    width: 200px; } }

.block-la-casa article .container-custom #tabs-casa .nav-item .nav-link:hover {
  color: #000000; }

.block-la-casa article .container-custom #tabs-casa .nav-item .nav-link.active {
  color: #000000;
  background: #ffffff; }

.block-la-casa article .container-custom #tabs-casa .nav-item .nav-link .status-tab {
  display: block;
  padding: 5px 0;
  box-sizing: border-box;
  color: #F7931E;
  font-family: "gotham-bold";
  text-transform: uppercase;
  border-top: 1px solid #C1EF00;
  margin-top: 10px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .block-la-casa article .container-custom .web-items-casa {
    display: none; } }

.block-la-casa article .container-custom .tabs-casa-mobile {
  display: none; }

.block-la-casa article .container-custom .tabs-casa-mobile .accordion .card {
  display: block; }

.block-la-casa article .container-custom .tabs-casa-mobile .accordion .card .card-header {
  width: 100%;
  text-align: center; }

.block-la-casa article .container-custom .tabs-casa-mobile .accordion .card .card-header button.collapsed p {
  color: #C7C7C7; }

.block-la-casa article .container-custom .tabs-casa-mobile .accordion .card .card-header button p {
  font-family: "gotham-bold";
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 250px;
  color: #000000;
  line-height: 1.2rem;
  border: 0;
  transition: .3s linear; }

.block-la-casa article .container-custom .tabs-casa-mobile .accordion .card .card-header button span {
  padding: 5px 0;
  box-sizing: border-box;
  color: #F7931E;
  font-family: "gotham-bold";
  text-transform: uppercase;
  border-top: 1px solid #C1EF00;
  margin-top: 10px; }

.block-la-casa article .container-custom .tabs-casa-mobile .accordion .card .card-body .card {
  display: block; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .block-la-casa article .container-custom .tabs-casa-mobile {
    display: block; } }

.block-la-casa article .container-custom .tab-content {
  background: #ffffff;
  padding: 50px 35px;
  box-sizing: border-box;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.16); }

.block-la-casa article .container-custom .tab-content .tab-pane {
  background: #F3F3F3;
  border-radius: 38px;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.16);
  padding: 30px 15px;
  box-sizing: border-box; }

.block-la-casa article .container-custom .tab-content .tab-pane .card {
  background: none;
  border: 0;
  display: block; }

.block-la-casa article .container-custom .tab-content .tab-pane .card .container-card .owl-carousel .item img {
  border-radius: 35px; }

.block-la-casa article .container-custom .tab-content .tab-pane .card .card-title {
  font-size: 25px; }

.block-la-casa article .container-custom .tab-content .tab-pane .card .list-casas {
  display: inline-block;
  vertical-align: top;
  width: 49%; }

.block-la-casa article .container-custom .tab-content .tab-pane .card .list-casas li {
  font-size: 17px; }

.porque-comprar article .container-custom .title-block {
  border-radius: 0; }

@media only screen and (min-width: 1280px) {
  .porque-comprar article .container-custom .title-block {
    padding-top: 100px; } }

.porque-comprar article .container-custom .section-comprar {
  position: relative;
  background: #ffffff;
  padding: 0 2rem; }

.porque-comprar article .container-custom .section-comprar .bg-section {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 28px 28px 0 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .porque-comprar article .container-custom .section-comprar .bg-section {
    padding: 0;
    box-sizing: border-box; } }

.porque-comprar article .container-custom .section-comprar .subtitle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 66px;
  box-sizing: border-box; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .porque-comprar article .container-custom .section-comprar .subtitle {
    padding: 15px 66px; } }

.porque-comprar article .container-custom .section-comprar .subtitle h3 {
  color: #ffffff;
  font-family: "gotham-bold";
  width: 40%;
  margin: 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .porque-comprar article .container-custom .section-comprar .subtitle h3 {
    width: 100%;
    font-size: 18px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .porque-comprar article .container-custom .section-comprar .subtitle h3 {
    width: 100%; } }

.porque-comprar article .container-custom .section-comprar .subtitle hr {
  border-color: #C1EF00;
  width: 80%;
  margin: 1rem 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .porque-comprar article .container-custom .section-comprar .subtitle hr {
    border-top: 3px solid #C1EF00;
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .porque-comprar article .container-custom .section-comprar .subtitle hr {
    border-top: 3px solid #C1EF00;
    width: 100%; } }

.porque-comprar article .container-custom .section-comprar .subtitle p {
  color: #ffffff;
  width: 40%;
  margin: 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .porque-comprar article .container-custom .section-comprar .subtitle p {
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .porque-comprar article .container-custom .section-comprar .subtitle p {
    width: 100%; } }

.porque-comprar article .container-custom .section-comprar .caracteristicas {
  background-image: linear-gradient(to top, #F15A24, #F7931E);
  position: relative;
  bottom: 18px;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0 0 28px 28px;
  padding: 30px 65px;
  box-sizing: border-box; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .porque-comprar article .container-custom .section-comprar .caracteristicas {
    width: 100%;
    position: relative;
    padding: 30px 0px;
    bottom: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .porque-comprar article .container-custom .section-comprar .caracteristicas {
    width: 100%;
    position: relative;
    padding: 30px 0px;
    bottom: 40px; } }

.porque-comprar article .container-custom .section-comprar .caracteristicas div {
  display: inline-block;
  vertical-align: top;
  width: 49%; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .porque-comprar article .container-custom .section-comprar .caracteristicas div.parte-izq {
    display: block;
    width: 100%; } }

.porque-comprar article .container-custom .section-comprar .caracteristicas div.parte-izq p {
  text-align: right; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .porque-comprar article .container-custom .section-comprar .caracteristicas div.parte-izq p {
    text-align: left; } }

.porque-comprar article .container-custom .section-comprar .caracteristicas div.parte-der {
  border-left: 1px solid #C1EF00; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .porque-comprar article .container-custom .section-comprar .caracteristicas div.parte-der {
    display: block;
    width: 100%;
    border-left: 0; } }

.porque-comprar article .container-custom .section-comprar .caracteristicas div.parte-der p {
  text-align: left; }

.porque-comprar article .container-custom .section-comprar .caracteristicas div p {
  color: #ffffff;
  padding: 0 15px;
  box-sizing: border-box; }

.requisitos article .container-custom {
  background: #ffffff;
  padding: 0 2rem;
  box-sizing: border-box; }

.requisitos article .container-custom .row-requisitos {
  display: flex;
  align-items: center;
  justify-content: space-around; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .requisitos article .container-custom .row-requisitos {
    display: block; } }

.requisitos article .container-custom .row-requisitos .item-requisito {
  display: inline-block;
  width: 49%;
  height: 315px;
  vertical-align: top;
  overflow: hidden;
  border-radius: 58px;
  position: relative; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .requisitos article .container-custom .row-requisitos .item-requisito {
    display: block;
    width: 100%;
    max-width: 288px;
    height: 250px;
    margin: 20px auto;
    border-radius: 25px; }
  .requisitos article .container-custom .row-requisitos .item-requisito:last-child {
    margin-bottom: 0; } }

.requisitos article .container-custom .row-requisitos .item-requisito:hover img {
  transform: scale(1.1); }

.requisitos article .container-custom .row-requisitos .item-requisito img {
  display: block;
  width: 120%;
  position: relative;
  transition: .3s linear; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .requisitos article .container-custom .row-requisitos .item-requisito img {
    width: 155%; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .requisitos article .container-custom .row-requisitos .item-requisito img {
    width: 170%; } }

.requisitos article .container-custom .row-requisitos .item-requisito h5 {
  position: absolute;
  top: 2rem;
  left: 3rem;
  border-bottom: 1px solid #C1EF00;
  color: #ffffff;
  display: block;
  width: 80%;
  font-family: "gotham-bold";
  padding: 10px 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .requisitos article .container-custom .row-requisitos .item-requisito h5 {
    top: 1rem;
    left: 2rem; } }

.requisitos article .container-custom .row-requisitos .item-requisito ul {
  position: absolute;
  bottom: 2rem;
  left: 4rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .requisitos article .container-custom .row-requisitos .item-requisito ul {
    bottom: 0;
    left: 2rem; } }

.requisitos article .container-custom .row-requisitos .item-requisito ul li {
  color: #ffffff; }

.proceso article .container-custom {
  background: #ffffff;
  padding: 1rem 2rem 0 2rem;
  box-sizing: border-box; }

.proceso article .container-custom .title-block-secondary {
  margin: 2rem 0; }

.proceso article .container-custom .row-pasos {
  display: flex;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .proceso article .container-custom .row-pasos {
    display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .proceso article .container-custom .row-pasos {
    justify-content: space-around; } }

.proceso article .container-custom .row-pasos .paso {
  background: #F3F3F3;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.16);
  border-radius: 32px;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  margin: 2rem 0;
  min-width: 320px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .proceso article .container-custom .row-pasos .paso {
    width: 100%;
    max-width: 288px;
    margin: 50px auto;
    min-width: 288px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .proceso article .container-custom .row-pasos .paso {
    width: 320px;
    min-height: 150px;
    margin: 2rem .5rem; } }

@media only screen and (min-width: 1280px) {
  .proceso article .container-custom .row-pasos .paso {
    min-width: 380px;
    margin: 1rem 10px;
    max-width: 380px;
    min-height: 112px; } }

.proceso article .container-custom .row-pasos .paso .number {
  background-image: linear-gradient(to top, #F15A24, #F7931E);
  color: #ffffff;
  border-radius: 50%;
  padding: 4px 10px;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px; }

.proceso article .container-custom .row-pasos .paso p {
  text-align: center;
  margin-bottom: 0; }

.proceso article .container-custom .note-copy {
  text-align: center; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .proceso article .container-custom .note-copy {
    max-width: 380px;
    margin: 0 auto 20px auto;
    text-align: left;
    padding: 0 2rem;
    box-sizing: border-box; } }

.proceso article .container-custom .subtitle-intern {
  display: block;
  text-align: center;
  font-family: "gotham-bold";
  margin: 2rem 0 0 0; }

.proceso article .container-custom .subtitle-intern h4 {
  display: block;
  margin-bottom: 0;
  padding-bottom: 2rem; }

.proceso article .container-custom .subtitle-intern span {
  font-family: "armonioso-trial";
  color: #F7931E; }

.proceso article .container-constructoras {
  box-sizing: border-box; }

.proceso article .container-constructoras .container-custom {
  background: #F3F3F3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .proceso article .container-constructoras .container-custom {
    display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .proceso article .container-constructoras .container-custom {
    display: block;
    text-align: center; } }

.proceso article .container-constructoras .container-custom img {
  max-width: 200px;
  width: 100%;
  display: inline-block; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .proceso article .container-constructoras .container-custom img {
    display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .proceso article .container-constructoras .container-custom img {
    max-width: 35%;
    width: 35%;
    margin: 1rem 2rem; } }

.ubicacion {
  position: relative;
  z-index: 2; }

.ubicacion article .container-custom {
  background: #ffffff;
  padding: 0 2rem 3rem 0;
  box-sizing: border-box;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.16);
  border-radius: 0 0 35px 35px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ubicacion article .container-custom {
    padding: 0 0 50px 0;
    box-shadow: none; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .ubicacion article .container-custom {
    padding: 0 0 50px 0; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ubicacion article .container-custom .title-block {
    border-radius: 0; } }

@media only screen and (min-width: 1280px) {
  .ubicacion article .container-custom .title-block {
    padding-top: 100px; } }

.ubicacion article .container-custom .title-block:first-child h2 {
  border-bottom: 1px solid #C1EF00;
  padding-bottom: 2rem; }

.ubicacion article .container-custom .title-block-secondary h4, .ubicacion article .container-custom .title-block-secondary p {
  text-transform: uppercase;
  text-align: center;
  display: block; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ubicacion article .container-custom .title-block-secondary h4, .ubicacion article .container-custom .title-block-secondary p {
    text-align: left; } }

.ubicacion article .container-custom .title-block-secondary h4 {
  padding: 2rem 5rem;
  box-sizing: border-box; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ubicacion article .container-custom .title-block-secondary h4 {
    padding: 0 2rem; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ubicacion article .container-custom .title-block-secondary p {
    padding: 0 2rem; } }

.ubicacion article .container-custom .title-block-secondary:nth-child(5) h4 {
  text-align: left;
  text-transform: capitalize; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ubicacion article .container-custom .title-block-secondary:nth-child(5) h4 {
    text-align: center;
    margin: 15px 0; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .ubicacion article .container-custom .title-block-secondary:nth-child(5) h4 {
    text-align: center;
    margin: 15px 0; } }

.ubicacion article .container-custom img {
  display: block;
  width: 100%;
  padding: 0 4rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ubicacion article .container-custom img {
    max-width: 100%;
    padding: 0; } }

.ubicacion article .container-custom .map-proyecto {
  width: 85%;
  height: 400px;
  border-radius: 58px;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.16);
  display: block; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ubicacion article .container-custom .map-proyecto {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .ubicacion article .container-custom .map-proyecto {
    width: 95%;
    height: 350px;
    display: block;
    margin: 0 auto; } }

.contacto {
  background-image: linear-gradient(to top, #F15A24, #F7931E);
  margin-top: -15rem;
  border-radius: 35px 35px 0 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto {
    margin-top: -6rem;
    border-radius: 35px 35px 0 0; } }

.contacto article .container-custom {
  padding-top: 15rem;
  background-image: linear-gradient(to top, #F15A24, #F7931E); }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom {
    padding-top: 7rem; } }

.contacto article .container-custom .title-block {
  background: none;
  padding-bottom: 0; }

@media only screen and (min-width: 1280px) {
  .contacto article .container-custom .title-block {
    padding-top: 100px; } }

.contacto article .container-custom .title-block h2 {
  color: #ffffff; }

.contacto article .container-custom h3 {
  font-family: "gotham-bold";
  width: 45%;
  margin: 0;
  padding-left: 4rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom h3 {
    width: 100%;
    padding: 0 2rem;
    font-size: 20px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom h3 {
    width: 100%;
    padding-left: 2rem; } }

.contacto article .container-custom form {
  padding: 1rem 4rem;
  max-width: 815px;
  width: 100%;
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom form {
    padding: 1rem 2rem; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom form {
    padding: 1rem 2rem; } }

.contacto article .container-custom form .form-item {
  margin: 10px 0; }

.contacto article .container-custom form .form-item input, .contacto article .container-custom form .form-item textarea {
  width: 100%;
  border-radius: 35px;
  padding: 1rem 2rem;
  border: 0;
  text-transform: uppercase;
  color: #000000; }

.contacto article .container-custom form .form-item input.enviar, .contacto article .container-custom form .form-item textarea.enviar {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  width: initial;
  background: none;
  color: #F7931E; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom form .form-item input.enviar, .contacto article .container-custom form .form-item textarea.enviar {
    right: 2rem; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom form .form-item input.enviar, .contacto article .container-custom form .form-item textarea.enviar {
    right: 2rem; } }

.contacto article .container-custom form .form-item ::-webkit-input-placeholder {
  color: #9A9898; }

.contacto article .container-custom form .form-item ::-moz-placeholder {
  /* Firefox 18- */
  color: #9A9898; }

.contacto article .container-custom form .form-item ::-moz-placeholder {
  /* Firefox 19+ */
  color: #9A9898; }

.contacto article .container-custom form .form-item ::-ms-input-placeholder {
  color: #9A9898; }

.contacto article .container-custom .whatsapp-block {
  display: inline-block;
  vertical-align: top;
  width: 28%; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .whatsapp-block {
    width: 70%;
    margin: 0 auto;
    display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .whatsapp-block {
    width: 100%;
    display: block; } }

.contacto article .container-custom .whatsapp-block .title-block-w h4 {
  color: #ffffff;
  line-height: 3rem; }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .whatsapp-block .title-block-w h4 {
    width: 40%; } }

.contacto article .container-custom .whatsapp-block .title-block-w h4 span {
  display: block;
  text-align: right; }

.contacto article .container-custom .whatsapp-block .title-block-w h4 span:nth-child(1) {
  font-family: "gotham-bold";
  font-size: 22px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .whatsapp-block .title-block-w h4 span:nth-child(1) {
    font-size: 21px; } }

.contacto article .container-custom .whatsapp-block .title-block-w h4 span:nth-child(2) {
  font-family: "armonioso-trial";
  font-size: 5rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .whatsapp-block .title-block-w h4 span:nth-child(2) {
    font-size: 5rem; } }

.contacto article .container-custom .whatsapp-block .title-block-w h4 span:nth-child(3) {
  font-family: "gotham-light";
  font-size: 29px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .whatsapp-block .title-block-w h4 span:nth-child(3) {
    font-size: 23px; } }

.contacto article .container-custom .whatsapp-block .btn-contacto-w {
  background: linear-gradient(to right, #D9E021, #A7CC23);
  padding: 35px 25px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 35px;
  text-align: center; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .whatsapp-block .btn-contacto-w {
    width: 100%;
    padding: 15px 10px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .whatsapp-block .btn-contacto-w {
    display: block;
    width: 60%;
    padding: 10px 25px; } }

.contacto article .container-custom .whatsapp-block .btn-contacto-w img {
  max-width: 40px;
  display: inline-block;
  vertical-align: middle; }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .whatsapp-block .btn-contacto-w img {
    max-width: 60px; } }

.contacto article .container-custom .whatsapp-block .btn-contacto-w div {
  max-width: 280px;
  display: inline-block;
  vertical-align: middle; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .whatsapp-block .btn-contacto-w div {
    max-width: 180px; } }

.contacto article .container-custom .whatsapp-block .btn-contacto-w div span {
  color: #ffffff; }

.contacto article .container-custom .whatsapp-block .btn-contacto-w div span:first-child {
  font-size: 16px;
  display: block; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .whatsapp-block .btn-contacto-w div span:first-child {
    font-size: 13px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .whatsapp-block .btn-contacto-w div span:first-child {
    font-size: 20px; } }

.contacto article .container-custom .whatsapp-block .btn-contacto-w div span:last-child {
  font-size: 10px;
  display: block; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .whatsapp-block .btn-contacto-w div span:last-child {
    font-size: 9px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .whatsapp-block .btn-contacto-w div span:last-child {
    font-size: 14px; } }

.contacto article .container-custom .oficinas-ventas .part-left {
  display: inline-block;
  width: 35%;
  vertical-align: top;
  padding-left: 4rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .oficinas-ventas .part-left {
    display: block;
    width: 100%;
    padding-left: 0;
    padding: 1rem 2rem;
    box-sizing: border-box; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .oficinas-ventas .part-left {
    display: block;
    width: 100%;
    padding-left: 0;
    padding: 1rem 2rem;
    box-sizing: border-box; } }

.contacto article .container-custom .oficinas-ventas .part-left h5 {
  font-family: "gotham-bold";
  font-size: 1.7rem;
  margin-bottom: 0; }

.contacto article .container-custom .oficinas-ventas .part-left strong {
  color: #ffffff;
  font-family: "gotham-bold";
  font-size: 1.2rem;
  margin: 10px 0;
  display: block; }

.contacto article .container-custom .oficinas-ventas .part-left p {
  margin-bottom: 2rem; }

.contacto article .container-custom .oficinas-ventas .part-left .enlaces .row-enlaces p {
  margin-bottom: 10px; }

.contacto article .container-custom .oficinas-ventas .part-left .enlaces .row-enlaces p img {
  max-width: 25px; }

.contacto article .container-custom .oficinas-ventas .part-left .enlaces .row-enlaces p span {
  padding-left: 1rem;
  box-sizing: border-box;
  color: #ffffff; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .oficinas-ventas .part-left .enlaces .row-enlaces p span {
    font-size: 14px; } }

.contacto article .container-custom .oficinas-ventas .part-right {
  display: inline-block;
  width: 63%;
  vertical-align: top;
  text-align: right; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .oficinas-ventas .part-right {
    display: block;
    width: 100%;
    padding: 0 2rem; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .oficinas-ventas .part-right {
    display: block;
    width: 100%;
    padding: 0 2rem; } }

.contacto article .container-custom .oficinas-ventas .part-right iframe {
  border-radius: 35px;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.16); }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .oficinas-ventas .part-right iframe {
    width: 100% !important;
    height: 250px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .oficinas-ventas .part-right iframe {
    width: 100% !important; } }

.contacto article .container-custom .pie-pagina {
  padding: 20px 0;
  box-sizing: border-box; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .pie-pagina {
    padding: 20px 2rem; } }

.contacto article .container-custom .pie-pagina .part-left {
  display: inline-block;
  vertical-align: bottom;
  width: 49%; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .pie-pagina .part-left {
    display: block;
    width: 100%;
    text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .pie-pagina .part-left {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px; } }

.contacto article .container-custom .pie-pagina .part-left img {
  max-width: 100px;
  margin-left: 4rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .pie-pagina .part-left img {
    margin-left: 0;
    max-width: 150px; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .pie-pagina .part-left img {
    margin-left: 0;
    max-width: 170px; } }

.contacto article .container-custom .pie-pagina .part-right {
  display: inline-block;
  vertical-align: bottom;
  width: 49%; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .pie-pagina .part-right {
    display: block;
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .pie-pagina .part-right {
    display: block;
    width: 100%; } }

.contacto article .container-custom .pie-pagina .part-right p {
  margin: 0;
  font-size: 14px;
  text-align: right; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contacto article .container-custom .pie-pagina .part-right p {
    text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contacto article .container-custom .pie-pagina .part-right p {
    text-align: center; } }
